<header class="main-header">
    <div class="menu-logo">
        <button class="menu-icon">
            <span class="material-icons">menu</span>
        </button>
        <img title="fundoo" src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png" alt="Keep Logo">
        <span class="keep-title" title="fundoo">Fundoo</span>
    </div>

    <div class="search-bar">
        <span class="material-icons search-icon">search</span>
        <input type="text" placeholder="Search">
        <span class="material-icons close-icon" >close</span>
    </div>

    <div class="header-icons">
        <span class="material-icons" title="refresh">refresh</span>
        <span class="material-icons" title="Grid view">grid_view</span>
        <span class="material-icons" title="Settings">settings</span>
        <span class="material-icons" title="Apps">apps</span>

        <div class="profile-wrapper">
            <img src="" alt="Profile" class="profile-pic">
            <div class="profile-popup">
                <div class="profile-info">
                    <img src="" alt="User" class="popup-pic">
                    <div>
                        <div class="name">userName</div>
                        <div class="email">Email</div>
                    </div>
                </div>
                <hr>
                <button>Add Account</button>
                <button>Logout</button>
            </div>
        </div>
    </div>
</header>