<header class="main-header">
    <div class="menu-logo">
        <button class="menu-icon" (click)="toggleSidebar()">
            <span class="material-icons">menu</span>
        </button>
        <img title="fundoo" src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png" alt="Keep Logo">
        <span class="keep-title" title="fundoo">Fundoo</span>
    </div>

    <div class="search-bar">
        <span class="material-icons search-icon">search</span>
        <input type="text" placeholder="Search">
        <span class="material-icons close-icon" >close</span>
    </div>

    <div class="header-icons">
        <span class="material-icons" title="refresh">refresh</span>
        <span class="material-icons" title="{{isGridView ? 'List view' : 'Grid view'}}" (click)="toggleView()">{{isGridView ? 'view_agenda' : 'grid_view'}}</span>
        <span class="material-icons" title="Settings">settings</span>
        <span class="material-icons" title="Apps">apps</span>

        <div class="profile-wrapper" (click)="toggleProfilePopup()">
            <img [src] = "profilePic" alt="Profile" class="profile-pic">
            <div class="profile-popup" *ngIf="showProfilePopup" (click) = "$event.stopPropagation()">
                <div class="profile-info">
                    <img [src]="profilePic" alt="User" class="popup-pic">
                    <div>
                        <div class="name">{{userName}}</div>
                        <div class="email">{{userEmail}}</div>
                    </div>
                </div>
                <hr>
                <button (click)="onAddAccount()">Add Account</button>
                <button (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
</header>