.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #fff;
}

.forgot-password-box {
    width: 100%;
    max-width: 420px;
    padding: 40px 50px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: left;
}

.forgot-password-box img {
   width: 90px;
   display: block;
    margin: 0 auto 20px ;
}

.forgot-password-box h2 {
    margin-bottom: 14px;
    font-size: 26px;
    font-weight: 600;
    color: #202124;
    text-align: center;
}

.forgot-password-box p {
    margin-bottom: 30px;
    font-size: 16px;
    color: #5f6368;
    text-align: center;
}

form input {
    display: block;
    width: 100%;
    padding: 14px;
    margin-bottom: 20px;
    font-size: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 16px;

    .link {
        font-size: 14px;
        color: #1a73e8;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.form-footer button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.form-footer button {
    padding: 12px 26px;
    font-size: 15px;
    color: #fff;
    background-color: #1a73e8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #1669c1;
    }
}