<div class="forgot-password-container">
  <div class="forgot-password-box">
    <img
      src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_92x30dp.png"
      alt="Google logo"
    />
    <h2>Forgot Password?</h2>
    <p>Enter your email to receive a password reset link</p>

    <form #forgotForm = "ngForm" (ngSubmit)="onSubmit()">
      <input 
        type="email" 
        name="email" 
        [(ngModel)]="email"
        placeholder="Email address" 
        required 
       />

       <div class="form-footer">
            <a class="link" (click)="goToLogin()">Back to sign in</a>
            <button type="submit" [disabled]="!forgotForm.valid">Send Link</button>
       </div>
    </form>
  </div>
</div>
